<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,500|Open+Sans&display=swap&subset=cyrillic" rel="stylesheet">
    <title>Серёжа</title>
  </head>
  <body>
    <noscript>
      <strong>Серьёзно? В нашем веке и с выключенным JS? Я не собираюсь за вами следить, честное слово. Вот исходники: </strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
