<template>
  <div id="app">
    <navbar/>
  </div>
</template>

<script>

import Navbar from "@/components/Navbar";
export default {
  name: 'app',
  components: {Navbar}
}
</script>

<style>
body {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}
</style>
